header {
    padding: 9.625rem 0 6.25rem;
}

.btn-primary {
    color: #ffffff;
    background-color: #207AB5;
    border-color: #207AB5;
    }
    
    .btn-primary:hover {
    colors: #ffffff;
    background-color: #3D9DDC;
    border-color: #3D9DDC;
}

.custom-checkbox{
 color: #ffffff;
}

.figures {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.text-footer {
    font-family: Roboto, sans-serif;
    font-size: .8rem;
    color: #6c757d;
}

ul.str:before {
  content: "*";
}

ul.str2:before {
  content: "**";
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}
  
  [aria-expanded="false"] .menu__icon--close {
    display: none;
}
  
  [aria-expanded="true"] .menu__icon--open {
    display: none;
}
  
  [aria-expanded="true"] .menu__icon--close {
    display: block;
}

.popover {
    z-index: auto;
}

.textinfo {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #0D47A1;
    border-radius: .2rem;
    padding: .1rem;
}

#popover {
    margin-top: -6px;
}

#info:hover {
    color: #0D47A1;
    cursor: default;
}

.infonoicon {
    background-color: #DAE0E5;
    border-radius: .2rem;
    font-size: 1.5rem;
    color: #212529;
}

.infonoicon:hover {
    background-color: #0D47A1;
    color: #ffffff;
    cursor: default;
}

body {
    position: relative;
    padding-top: 5.4rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 9.375rem 0;
}

#top-page {
    margin-top: -10rem;
}

.radiotext {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #207AB5;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.25rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.text1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.2em;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #212529;
}

.navbar .navbar-toggler {
    outline: none;
}

.sidebar {
    position: fixed;
    top: 3.6rem;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 1.25rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 1.25rem;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}
