.modal-title-custom {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: #23527c;
    font-weight: 500;
    margin: 0;
}

.modal-content {
    font-size: 1rem;
}

label {
    margin-bottom: 0;
}

.modal-footer {
    position: relative;
    display: inline;
}
 
[data-toggle=buttons]>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.btn-modal {
    float: right;
}

.btn-group {
    width: 100%;
}

.btn-group .btn {
    width: 80%;
}

.btn-primary {
    color: #ffffff;
    background-color: #207AB5;
    border-color: #207AB5;
    }
    
    .btn-primary:hover {
    color: #ffffff;
    background-color: #3D9DDC;
    border-color: #3D9DDC;
    }

.btn-outline-primary {
    border-color: #207AB5;
    color: #207AB5;
}
 
.btn-outline-primary:hover {
    background-color: #207AB5;
    border-color: #207AB5;
}
 
.btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #207AB5;
    border-color: #207AB5;
}
 
#reportName {
    margin-top: 1rem;
    margin-bottom: .75rem;
}
 
#reportName span {
    font-size: 1rem;
    font-weight: 500;
}

.form-group {
    margin-bottom: 0;
}



