.modal-title-custom {
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
}

.btn-group {
    width: 100%;
}

.btn-group .btn {
    width: 80%;
}

.btn-primary {
    color: #ffffff;
    background-color: #207AB5;
    border-color: #207AB5;
    }
    
    .btn-primary:hover {
    color: #ffffff;
    background-color: #3D9DDC;
    border-color: #3D9DDC;
    }
